
mat-card {
  border: 5px solid red;
  display: inline-block;
  width: 200px;
  height: 350px;
  vertical-align: top;
  margin: 8px; 

}
 img {
        width: 150px;
        height: 150px;
        object-fit: cover;

        /* Default behavior will stretch the image to fill these dimensions exactly */
    }

    button{
        background-color: gray;
        border: 2px solid;
        border-radius: 20px 20px;
        width: 8rem;
    }

    button:hover{
        background-color: rgb(65, 64, 64);
    }