h2{
    /* text-align: center; */
    margin:0 4%;
}

.img-container{
    display: flex;
    justify-content: center;
    margin-top: 1.5rem;
}

img{
    margin:2px 2px;
    height: 25rem;
    width: 80rem;
    
    object-fit: fill;
}

.my-grid{

     margin:3rem 5%;    

}

.grid-faq{
    display: grid;
    grid-template-columns: 50% 50%;
    /* grid-template-rows: 30rem 30rem; */
}

.faq-title{
    border-bottom: 2px rgb(183, 180, 180) solid;
    margin: 2px 4%;
    font-size: 1.2rem;
    display: flex;
    justify-content: space-between;
    /* align-items: center; */
}
.faq-content{
    margin: 2px 4%;
    font-size: .9rem;
    
}
