<footer>
  
    <div class="my-grid">
   <!-- //compoinent of reginoal button` -->
    <button class="mybtn">India English (UK) INR</button>  

    <div>
        <ul>
            <li>help</li>
            <li>Privacy Settings</li>
            <li>Login</li>
        </ul>
    </div>

    <div>
        <ul>
         <li>Cookie Policy</li>
         <li>Privacy Policy</li>
         <li>Terms of Service</li>
         <li>Compnay Details</li>
        </ul>
    </div>

    <div>
        <ul>
         <li>Cookie Policy</li>
         <li>Privacy Policy</li>
         <li>Terms of Service</li>
         <li>Compnay Details</li>
        </ul>
    </div>
    </div>
 
 